.btnWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.btn {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    color: #000000;

    border: none;
    padding: 0;

}